* {
    box-sizing:border-box;
    flex-wrap:wrap;
    font-family:'Suisse Intl';
    font:'Suisse Intl';
    font-weight:400;
    font-display:swap
    }
    
    body,html {
    -webkit-text-size-adjust:100%;
    margin:0;
    padding:0;
    background-color:#000;
    font-size:18px;
    --widtha:100vw;
    --grey:#F1F1F1;
    --black:#000;
    --blue:#41A1D4;
    --ocher:#EBC814;
    --accent: #DEFF1D;
    --accent-sec: #7980FC;
    }

.blog{
    color: var(--black);
    background-color: var(--grey);
}

h1.bog{
    color: var(--black);
}